.DS_Store
__pycache__/
*.py[cod]
.ipynb_checkpoints/

.venv/
venv/
env/

Dataset/raw/.DS_Store
Dataset/raw/**/*.jpg
Dataset/raw/**/*.html
Dataset/raw/**/*.arff
Dataset/raw/nsl-kdd/

Dataset/cleaned/*.csv
Models/*.pkl
reports/*.csv
reports/*.json
reports/*.log
reports/figures/*.png
